page-profile {


    //.iti-flag {background-image: url("assets/images/flags.png");}

    //@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      //.iti-flag {background-image: url("assets/images/flags@2x.png");}
    //}
    
    .scroll-content {
        padding: 20px !important;
        margin-bottom: 50px !important;
    }
    .getstart {
 
    
        background-image: url('../assets/imgs/logo21.jpg');
        //background-position: 390px;
        //background-repeat: repeat;
        //background-size: contain;
        background-size: 100%;
        
    
    }
   .profile_img{
        position: relative;
        width: 120px;
        margin: 0 auto;
        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
        }
        .upload_img{
            width: 33px;
            height: 33px;
            line-height: 33px;
            border-radius: 50%;
            background: color($colors,twitter);
            position: absolute;
            bottom: 8px;
            right: 0;
            font-size: 11px;
            text-align: center;
            ion-icon{
                line-height: inherit;
                font-size: 25px;
            }
        }
   }
   .user_name{
       padding: 10px 0;
       margin-top: 10px;
       position: relative;
       .text-input-md{
            margin: 0;
            font-size: 19px;
            font-weight: 500;
            color: color($colors,dark1);
            width: 300px;
       }
       .button-md{
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background: color($colors,twitter);
            position: absolute;
            bottom: 8px;
            right: 0;
            font-size: 11px;
            opacity: 1 !important;
            text-align: center;
            ion-icon{
                padding: 0;
                width: 33px;
                text-align: center;
                color: color($colors,secondary);
                &.save_icon{
                font-size: 43px;
                }
            }  
        }
   }
   .one {
    background: color($colors,light);
    border-radius: 7px;
    padding:1px 10px;
    height: 35px;
    width: 300px;
    .text-input-md{
        width: 100%;
        font-size: 16px; 
        
   }
}
.two {
    max-width: 100%;
    width: 100%;
    margin-bottom: 100px;
    color: color($colors,myWhite);
    margin-bottom: 5px;
    font-size: 16px;
    
}

   .profile_form{
       background: color($colors,twitter);
       border-radius: 10px;
       padding: 10px 10px 20px 10px;
       
        .item-md {
            background: none;
            .item-inner {
                padding: 0;
                .input-wrapper {
                display: block;
                    .label-md {
                        max-width: 100%;
                        width: 100%;
                        margin-bottom: 0;
                        color: color($colors,myWhite);
                        margin-bottom: 5px;
                    }
                    ion-input, ion-textarea{
                        background: color($colors,light);
                        border-radius: 7px;
                        padding:1px 10px;
                        .text-input-md{
                            margin: 10px 0 !important;
                            width: 100%;
                            font-size: 16px;
                        }
                    }    
                }
            }
        }
   }
    
} 

