<ion-header>
  <ion-navbar color="bluu">
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="getstart" padding>
  <div class="profile_img">
      <img src="{{img}}">
      <span class="upload_img" (click)="getPhoto()"><ion-icon color="secondary" name="ios-camera-outline"></ion-icon></span>
  </div>
  <div class="user_name">
      <ion-input type="text" value="Juuso Kivistö" disabled="{{isDisabled}}"  text-center></ion-input>
      <button ion-button icon-only clear (click)="changeData()">
          <ion-icon name="md-create" *ngIf="isDisabled"></ion-icon>
          <ion-icon name="checkmark" *ngIf="!isDisabled" class="save_icon"></ion-icon>
      </button>
  </div>
 

  <ion-list class="profile_form" no-margin>
  
  <ion-label class="two">Phone Number</ion-label>
  <ion-input class="one" type="tel" id="elemtId" value="+358504352906" disabled="{{isDisabled}}"></ion-input>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="assets/js/intlTelInput.js"></script>
  <script>
    $("#elemtId").intlTelInput();
  </script>
    
      
      <ion-item no-lines no-padding>
          <ion-label>Email</ion-label>
          <ion-input type="email" value="{{user}}" disabled="{{isDisabled}}"></ion-input>
      </ion-item>
      
      <ion-item no-lines no-padding>
          <ion-label>Gender</ion-label>
          <ion-input  value="Male" disabled="{{isDisabled}}"></ion-input>
      </ion-item>
      <ion-item no-lines no-padding>
            <ion-label>Age</ion-label>
            <ion-input  value="22" disabled="{{isDisabled}}"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding>
            <ion-label>Address</ion-label>
            <ion-textarea  value="Mantelipolku 4, FI-01710, Vantaa" disabled="{{isDisabled}}"></ion-textarea>
        </ion-item>
        <ion-item no-lines no-padding>
                <ion-label>Country</ion-label>
                <ion-input value="Finland" disabled="{{isDisabled}}"></ion-input>
            </ion-item>    

  </ion-list>

</ion-content>