page-welcome {
    


    .swiper-pagination-bullet-active {
        background: white;
    }

    .bg-image {
        background-image: url('../assets/imgs/nature.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .image1 {
        background-image: url('../assets/imgs/training2.jpg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .image2 {
        background-image: url('../assets/imgs/gym11.jpg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .image3 {
        background-image: url('../assets/imgs/gym0.jpg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .padding {
        padding-bottom: 100px;
    }
}
